<ion-content mode="ios">
  <ion-slides #slides (ionSlideDidChange)="slideChange()" pager="true" [options]="slideOpts">
    <ion-slide class="ion-padding-start ion-padding-end">
      <img class="logo-large" src="assets/logo-large.png" alt="Bmed Large Logo">
      <h2>
        Monitoreo 24/7
      </h2>
      <br>
      <br>
      <img class="square-pic" src="assets/bmed-02.png" alt="Monitoreo 24/7">
    </ion-slide>
    <ion-slide class="ion-padding-start ion-padding-end">
      <img class="logo-large" src="assets/logo-large.png" alt="Bmed Large Logo">
      <h2>
        Registro de datos continuo
      </h2>
      <br>
      <br>
      <img class="square-pic" src="assets/bmed-03.png" alt="Monitoreo 24/7">
    </ion-slide>
    <ion-slide class="ion-padding-start ion-padding-end">
      <img class="logo-large" src="assets/logo-large.png" alt="Bmed Large Logo">
      <div class="max-400">
        <h2>Bienvenido</h2>
        <br>
        <p>Inicia sesión para continuar</p>
        <br>
        <ion-button style="--background: #114058 !important" routerLink="/login" expand="block">
          Iniciar sesión
        </ion-button>
        <ion-button style="--background: #114058 !important" routerLink="/register" expand="block">
          Crear cuenta
        </ion-button>
        <p>Al Iniciar sesión, usted acepta nuestros <a routerLink="/terms">Terminos y condiciones</a></p>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="skip()" [disabled]="!slideButtons.skip">
        Saltar
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="next()" [disabled]="!slideButtons.next">
        Siguiente
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
