<ion-header>
  <app-custom-header [backButton]="true" defaultBackHref="/landing" title="Terminos y condiciones"></app-custom-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Términos y Condiciones</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      El aplicativo "Bmed" es una herramienta diseñada por la empresa Blesoft, como parte de la garantía del derecho 
      a la salud de toda la población, con el propósito de que todas las personas logren identificar un riesgo 
      potencial de sufrir alguna complicación de salud. 
	  Esta herramienta en ningún caso reemplaza la valoración, 
	  consulta y recomendaciones médicas, las cuales están bajo responsabilidad de su EPS. La información aquí suministrada, 
	  está sujeta a las disposiciones establecidas en la Ley 1581 de 2012 relativa 
	  a la protección de datos personales. (Articulos 8 y 12; (Derechos del titular de los datos/ Deber de informar al titular)
    </ion-card-content>
  </ion-card>
</ion-content>
