<ion-header>
  <app-custom-header [backButton]="true" defaultBackHref="/medicamentos" title="Nuevo medicamento"></app-custom-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="form" class="form-home ion-padding">
          <div>
            <div>
              <ion-label>Nombre del Medicamento</ion-label>
              <ion-input type="text" formControlName="nombreMedicamento" class="select" placeholder="Inserte nombre">
              </ion-input>
              <div *ngIf="f.nombreMedicamento.errors && f.nombreMedicamento.touched" class="ion-text-center">
                <span *ngIf="f.nombreMedicamento.errors.required" class="TextValidation">*Campo obligatorio</span>
              </div>
            </div>
            <div>
              <ion-label>Laboratorio</ion-label>
              <ion-input type="text" formControlName="laboratorio" class="select" placeholder="Inserte Laboratorio">
              </ion-input>
              <div *ngIf="f.laboratorio.errors && f.laboratorio.touched" class="ion-text-center">
                <span *ngIf="f.laboratorio.errors.required" class="TextValidation">*Campo obligatorio</span>
              </div>
            </div>
            <div>
              <ion-label position="floating">Presentación</ion-label>
              <ion-select formControlName="presentacion" class="select">
                <ion-select-option selected disabled value="">Seleccione Presentación</ion-select-option>
                <ion-select-option *ngFor="let propsMed of propsPresentacion">{{ propsMed.title}}</ion-select-option>
              </ion-select>
            </div>
            <div>
              <ion-label position="floating">Vía de Administración</ion-label>
              <ion-select formControlName="Administracion" class="select">
                <ion-select-option selected disabled value="">Seleccione Vía de Administración</ion-select-option>
                <ion-select-option *ngFor="let propsMed of propsAdministracion">{{ propsMed.title}}</ion-select-option>
              </ion-select>
            </div>
            <div>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col size="6">
                    <ion-label>Frecuencia</ion-label>
                    <ion-input type="number" formControlName="frecuencia" class="select" placeholder="Cantidad">
                    </ion-input>
                  </ion-col>
                  <ion-col size="6">
                    <p class="mt-fre ion-margin">Horas</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div>
              <ion-label position="floating">Cantidad en Cada Toma</ion-label>
              <ion-input type="text" formControlName="cantidadEncadaToma" class="select" placeholder="Inserte Cantidad">
              </ion-input>
            </div>
            <div>
              <ion-label position="floating">Primera Dosis</ion-label>
              <ion-input type="date" formControlName="primeraDosis" class="select" placeholder="DD/MM/AAAA">
              </ion-input>
            </div>
            <div>
              <ion-item class="ion-no-padding">
                <ion-label>Recordatorio</ion-label>
                <ion-toggle slot="end" formControlName="recordatorio"></ion-toggle>
              </ion-item>
            </div>
          </div>
          <ion-button color="secondary" class="w-100" (click)="GuardarMedicamento()" [disabled]="form.invalid">
            Guardar
        </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>