img.logo-large {
  max-width: 200px;
}

ion-content {
  text-align: center;
}

form {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

ion-button {
  --border-radius: 10px;
}

.version {
  position: relative;
  top: 133px;
  font-style: italic;
}

.logo-blesost {
  width: 95px;
  margin-top: 10px;
  position: relative;
  bottom: -113px;
  left: 78px;
}
